.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #007bff;
  color: white;
  background-color: #007bff;
}

.image-class {
 width: 200px;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.movie-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  width: 250px;
  cursor: pointer;
}

.movie-details {
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
}
